/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image:url('home.jpg');
padding: 0;
    margin: 0;
    display: flex;
    
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Adjusts the size to cover the entire viewport */
    background-position: center;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #A5D6A7;
    color: black;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 20x;
    
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #2d523f;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #1b3c22;
    color:#AFAA8C;
}

/* Main Content */
.main-content {
   

    padding: 20px;
    flex: 1;
    text-align: center; 
    margin-left: 250px;
    
}

/* Button */
/* button {
    background-color: #2d5c34;
  
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
} */
button{
    border-radius:15px;
}
button:hover {
    background-color: #1b3c22;
}

/* Dashboard Layout */
.dashboard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items: center;
    gap: 100px;
    
    /* animation: fadeInUp 1s ease forwards; */
}
    

/* Card Style */
.card {
    background-color: #2d5c34;
    color:white;
    padding: 20px;
    border-radius: 20px;
    height: 370px;
    width: 370px;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.25rem); 
    
}


.label {
    font-size: 25px;
    font-weight: bold;
}
.greet{
  text-align: left;
  margin-bottom: 50px;
  margin-left: 100px;
  font-size: 25px;


}
.icon {
    margin-right: px;
  }
  h2 {
    margin: 20px 0; /* Adjusts space above and below the heading */
}
.line{ 
   height: 2px;
   background-image: url('line.png');
}
h3{
    font-size: 24px; 
}
h1{
  
    font-size: 64px; 
}

.heading{ 
    font-size:40px; 
}

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f8fb;
  margin: 0;
  padding: 0;
} */

.header {
  text-align: center;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.greet1{
    margin-left: 50px;
}
.greet{
display: flex;
flex-direction:row;
/* justify-content: space-evenly; */
flex-wrap:wrap;
align-items: center;
gap: 100px;
margin-left: 300px;
}


.gauge-card {
background-color: #2d5c34;

padding: 20px;
border-radius: 20px;
height: 370px;
width: 370px;
text-align: center;
font-size: clamp(1rem, 2vw, 1.25rem); 
color: #A5D6A7;


} 
P{
font-size: 25px;
}
/* Dashboard Layout */
.gauges {
display: flex;
justify-content: space-evenly;
flex-wrap:wrap;
align-items: center;
gap: 100px;


} /* animation: fadeInUp 1s ease forwards; */



.gauge-card canvas {
  width: 200px;
  height: 100px;
  

}

#tempGauge,#humidGauge,#moistGauge,#lightGauge{
   margin-left: 80px;


}
.label {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  
}

.value {
  font-size: 24px;
  color: #2a7de1;
  font-weight: bold;
  margin-top: 5px;
}

